a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.bg-light-grey {
  background-color: #d5d8dd;
}

.drk-txt {
  color: #222;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
